<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="GMDB RSS Feed" href="{{ site.baseurl }}/feed.xml">

  <title>{{ page.title | default: site.title }}</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="#" />

  <!-- FontAwesone icons -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">

  <!-- zoom.js Styles -->
  <link href="{{ site.baseurl }}/assets/css/zoom.css" rel="stylesheet">

  <!-- Hamburger Buttons Styles-->
  <link href="{{ site.baseurl }}/assets/css/hamburgers/dist/hamburgers.css" rel="stylesheet">

  <!-- Site styles -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  <meta name="viewport" content="width=device-width">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>